<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>홈</title>
</head>
<body>
	<!-- 로그인 상태 -->
	<div th:if="${Authenticated != null}">
		사용자 이름: <span th:text="${Authenticated.nickname}"></span>
		<button id="signout">로그아웃</button>
	</div>
	<!-- 비로그인 상태 -->
	<div th:unless="${Authenticated != null}">
		<a th:href="@{/auth/signup}">회원가입</a> <a th:href="@{/auth/signin}">로그인</a>
	</div>
	<h1>도서관리 시스템</h1>
	<table>
		<tr>
			<th>책 제목</th>
			<td><input type="text" name="title" id="title" value="책이름"></td>
		</tr>
		<tr>
			<th>저자 이름</th>
			<td><input type="text" name="author" id="author" value="준영"></td>
		</tr>
		<tr>
			<th>출판일</th>
			<td><input type="date" name="publishedDate" id="publishedDate"
				value="2024-01-01"></td>
		</tr>
		<tr>
			<th>가격</th>
			<td><input type="number" name="price" id="price" value="1100"></td>
		</tr>
		<tr>
			<td><input type="button" id="postRequest" value="등록하기"></td>
		</tr>

	</table>
	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/book.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>